<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<properties resource="db.config"/>

	<settings>
		<!--全局的二级缓存-->
		<setting name="cacheEnabled" value="TRUE"/>

		<!--一级缓存,语句级-->
<!--		<setting name="localCacheScope" value="STATEMENT"/>-->
		<!--一级缓存,会话级-->
		<setting name="localCacheScope" value="SESSION"/>

		<!--开启控制台输出日志-->
		<setting name="logImpl" value="stdout_logging"/>
	</settings>

	<typeAliases>
		<typeAlias alias="User" type="model.User"/>
	</typeAliases>

	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC"/>
			<!-- 数据库连接相关配置 ,这里动态获取config.properties文件中的内容-->
			<dataSource type="POOLED">
				<property name="driver" value="com.mysql.cj.jdbc.Driver"/>
				<property name="url"
						  value="jdbc:mysql://${db.ip}/${db.name}?serverTimezone=Asia/Shanghai&amp;useUnicode=true&amp;characterEncoding=UTF-8&amp;autoReconnect=true"/>
				<property name="username" value="${db.username}"/>
				<property name="password" value="${db.password}"/>
				<property name="poolMaximumActiveConnections" value="100"/>
				<property name="poolTimeToWait" value="5000"/>
				<property name="poolPingEnabled" value="true"/>
				<property name="poolPingQuery" value="select now()"/>
				<property name="poolPingConnectionsNotUsedFor" value="3600000"/>
			</dataSource>
		</environment>
	</environments>

	<mappers>
		<mapper resource="mapper/user.xml"/>
	</mappers>

	<!--	<settings>-->
	<!--		<setting name="logImpl" value="STDOUT_LOGGING"/>-->
	<!--	</settings>-->
</configuration>
